*
!.gitignore
!configs
!configs/roguelike_items.txt

!gamedata
!gamedata/tf2.roguelike.txt
!gamedata/sigsegv
!gamedata/sigsegv/custom_attributes.txt

!scripting
!scripting/TF2_Roguelike.sp
!scripting/Roguelike
!scripting/Roguelike/*

!translations
